<body>
<h1>Usuarios</h1>

<table class="table table-dark">
    <thead>
        <td>Nome</td>
        <td>Sobrenome</td>
        <td>E-mail</td>
        <td></td>
    </thead>
    <tbody>
        <tr *ngFor='let user of responseUsers.data'>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td><a routerLink="/users/update/{{user.id}}" class="btn btn-secondary">EDITAR</a> |
            <a routerLink="/users/delete/{{user.id}}" class="btn btn-secondary">REMOVER</a></td>
        </tr>
    </tbody>
</table>
</body>
